@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@400;700;900&display=swap');

body {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans KR";
    color: black;
  }
  
a {
  vertical-align:baseline;
  background:transparent;
  text-decoration-line: none;
}

a:link    { color: black; }
a:visited { color: black; }

img {
  width: 80px;
}

.buttons img {
  width: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: gray;
  font-size: 25px;
  font-weight: 700;
}

.contents {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

.icon img {
    width: 15%;
    border-radius: 50%;
  }

.seminar img {
  width: 80px;
  border-radius: 1%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.button {
  background: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  width: 300px;
  height: 50px;
  margin-top: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5); 
}

.button:hover {
  background-color: rgb(185, 185, 185);
}

.link.btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link div {
  align-items: center;
}


.coop {
  background-color: white;
}

.blog {
  background-color: #01c73c;
  color: white;
}

.youtube {
  background-color: #eb3824;
  color: white;
}

.kakao {
  background-color: #fae100;
  color: gray;
}

.sheet {
  background-color: #0182e7;
  color: white;
}